/*  CSS STYLING */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,700);

* {
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
	background-color: ;
    text-decoration: none;
    }

p {
	padding: 5px 10px;
    }

h1 {
	font-size: 48px
    }

#touchArea {
    width:100%;
    height:100%;
    position: fixed;
    background: #33cc33;
    font-size:48px;
    color:#fff;
    bottom: 0;
    z-index: 5;
    }

#points {
    width:50px;
    height:50px;
    position: absolute;
    text-align: right;
    top: 25px;
    right: 50px;  
}

#touchArea-locked {
width:100%;
height:100%;
position: fixed;
background:red;
font-size:48px;
color:#fff;
bottom: 0;
z-index: 5;

    }

.closeBtn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 14px;
}

#lastscore {
    width:100%;
    background: gold;
    font-size:22px;
    color:#fff;
	padding: 5px 0;
    }

#topscore {
    width:100%;
    background: #1da5fb;
    font-size:24px;
    font-weight: 700;
    color: #fff;
	padding: 5px 0;
    overflow: hidden;
    }

.btn {
    background-color: #1da5fb;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }

#start{
    background-color: #1da5fb;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 60px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    }

button:hover {
    background-color: #60C0FC;
    color: white;
    }


#soundon, #soundoff {
    padding: 15px;
    position: fixed;
    top: 15px
    left: 15px;
}

img {
    padding: 5px;
}

.quit {
    position: absolute;
    bottom: 20px;
    left: 20px;
}

.again {
    position: absolute;
    bottom: 20px;
    right: 20px;
}

#yourscore {
    font-size: 24px;
}


.gradientbg{
background: linear-gradient(230deg, #e1e1e1, #60d42a);
background-size: 600% 600%;

-webkit-animation: gradbg 6s ease infinite;
animation: gradbg 6s ease infinite;
}
@-webkit-keyframes gradbg {
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}
@keyframes gradbg { 
    0%{background-position:0% 51%}
    50%{background-position:100% 50%}
    100%{background-position:0% 51%}
}


/* MENU SETUP */

#menu-panel{
    width:100%;
    height:100%;
    position: fixed;
    background:#1da5fb;
    font-size:42px;
    color:#fff;
    bottom: 0;
    z-index: 3;
}

.navlist {
    margin-top: 25%;
    padding: auto;
    list-style: none;
    font-size: 42px;
    text-align: center;
}

.navlist, a :visited {
    color: white;
}

.navlist, a {
    color: white;
}

a :hover {
    color: white;
    background-color: skyBlue;
}

.menunav {
    padding: 6px;
    padding-top:10px; 
    position: fixed;
    z-index: 4;
    /*top: 15px*/
    /*left: 15px;*/
}

#nav-icon {
  width: 40px;
  height: 30px;
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 8px;
  width: 100%;
  background: black;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 4 */

#nav-icon {
}

#nav-icon span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 1px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 30px;
  left: 8px;
}


#leaderboard{
    width:100%;
    height:100%;
    position: fixed;
    background:orange;
    font-size:32px;
    color:#fff;
    bottom: 0;
    z-index: 4;
}